In [1]:
import pandas as pd
import numpy as np

In [2]:
tweets = pd.read_csv('tweets.csv')

/opt/conda/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2785: DtypeWarning: Columns (2,4,5,12,13,14,15,16,17) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [3]:
tweets.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6296495 entries, 0 to 6296494
Data columns (total 18 columns):
Unnamed: 0             int64
id                     float64
text                   object
user_id                float64
in_reply_to_user_id    object
retweeted_status_id    object
retweet_count          float64
reply_count            float64
favorite_count         float64
num_hashtags           float64
num_urls               float64
num_mentions           float64
created_at             object
timestamp              object
crawled_at             object
updated                object
Cat                    object
bot                    object
dtypes: float64(8), int64(1), object(9)
memory usage: 864.7+ MB

In [29]:
#tweets_humans = tweets[tweets.Cat=='Humans']
#display(tweets_humans.columns)

#first = True
def getDataTweets(twU):
    global first
    if(first):
        dates = pd.to_datetime(twU.timestamp) #aca lo que hago es guardar la columnoa como datetime
        twU = twU.sort_values(by='timestamp', ascending=0)
        twU.loc[:,'dayOfWeek'] = dates.dt.dayofweek # dia de la semana
        twU.loc[:,'hour'] = dates.dt.hour #hora del tweet
        twU.loc[:,'weekNum'] = dates.apply(lambda x: str(x.week) + '-' + str(x.year))
        #display(twU.head())
        twU.loc[:,'interval'] = pd.to_datetime(twU.timestamp.shift(1)) - pd.to_datetime(twU.timestamp)
        #times = pd.to_datetime(twU.timestamp.shift(1)) - pd.to_datetime(twU.timestamp) # calculo distancia entre tweets
        #display(times.median())
        return twU
    first = False

#tweets_humans.groupby('user_id').apply(getDataTweets).hour

In [30]:
first = True
tweets_humans = tweets[tweets.Cat=='Humans']
a = tweets_humans[['user_id','timestamp']]
b = a.groupby('user_id').apply(getDataTweets)
#b.groupby('user_id').mean()
b

                           user_id            timestamp  dayOfWeek  hour  \
user_id
6.780330e+05 3457133  6.780330e+05  2015-05-01 02:18:11          4     2
             3457134  6.780330e+05  2015-04-30 23:50:52          3    23
             3457135  6.780330e+05  2015-04-30 22:52:32          3    22
             3457136  6.780330e+05  2015-04-30 20:42:40          3    20
             3457137  6.780330e+05  2015-04-30 20:41:36          3    20
             3457138  6.780330e+05  2015-04-30 18:49:15          3    18
             3457139  6.780330e+05  2015-04-30 18:30:10          3    18
             3457140  6.780330e+05  2015-04-30 14:16:01          3    14
             3457141  6.780330e+05  2015-04-30 14:15:07          3    14
             3457142  6.780330e+05  2015-04-30 13:43:57          3    13
             3457143  6.780330e+05  2015-04-30 08:13:05          3     8
             3457144  6.780330e+05  2015-04-30 07:55:24          3     7
             3457145  6.780330e+05  2015-04-30 03:15:18          3     3
             3457146  6.780330e+05  2015-04-30 02:54:55          3     2
             3457147  6.780330e+05  2015-04-30 02:52:19          3     2
             3457148  6.780330e+05  2015-04-30 02:50:58          3     2
             3457149  6.780330e+05  2015-04-30 02:50:08          3     2
             3457150  6.780330e+05  2015-04-30 02:49:21          3     2
             3457151  6.780330e+05  2015-04-30 02:48:23          3     2
             3457152  6.780330e+05  2015-04-30 02:33:13          3     2
             3457153  6.780330e+05  2015-04-30 01:55:25          3     1
             3457154  6.780330e+05  2015-04-30 01:25:44          3     1
             3457155  6.780330e+05  2015-04-30 00:12:54          3     0
             3457156  6.780330e+05  2015-04-30 00:12:23          3     0
             3457157  6.780330e+05  2015-04-30 00:12:07          3     0
             3457158  6.780330e+05  2015-04-29 22:00:34          2    22
             3457159  6.780330e+05  2015-04-29 21:55:50          2    21
             3457160  6.780330e+05  2015-04-29 21:53:27          2    21
             3457161  6.780330e+05  2015-04-29 21:52:48          2    21
             3457162  6.780330e+05  2015-04-29 19:35:01          2    19
...                            ...                  ...        ...   ...
2.356426e+09 6296375  2.356426e+09  2015-03-20 23:19:22          4    23
             6296379  2.356426e+09  2015-03-20 23:18:55          4    23
             6296383  2.356426e+09  2015-03-20 23:13:39          4    23
             6296385  2.356426e+09  2015-03-20 23:05:23          4    23
             6296389  2.356426e+09  2015-03-20 22:01:40          4    22
             6296392  2.356426e+09  2015-03-20 21:01:00          4    21
             6296397  2.356426e+09  2015-03-20 20:46:34          4    20
             6296402  2.356426e+09  2015-03-20 19:54:34          4    19
             6296406  2.356426e+09  2015-03-20 19:54:04          4    19
             6296410  2.356426e+09  2015-03-20 19:53:52          4    19
             6296413  2.356426e+09  2015-03-20 19:35:48          4    19
             6296416  2.356426e+09  2015-03-20 14:17:59          4    14
             6296422  2.356426e+09  2015-03-20 13:51:04          4    13
             6296426  2.356426e+09  2015-03-20 13:49:14          4    13
             6296430  2.356426e+09  2015-03-20 13:49:03          4    13
             6296434  2.356426e+09  2015-03-20 13:47:47          4    13
             6296438  2.356426e+09  2015-03-20 13:46:52          4    13
             6296443  2.356426e+09  2015-03-20 12:29:58          4    12
             6296446  2.356426e+09  2015-03-20 10:29:03          4    10
             6296450  2.356426e+09  2015-03-20 10:08:10          4    10
             6296454  2.356426e+09  2015-03-20 10:01:22          4    10
             6296458  2.356426e+09  2015-03-20 10:00:22          4    10
             6296462  2.356426e+09  2015-03-20 09:59:14          4     9
             6296467  2.356426e+09  2015-03-20 09:48:52          4     9
             6296470  2.356426e+09  2015-03-20 09:48:15          4     9
             6296474  2.356426e+09  2015-03-20 09:43:41          4     9
             6296479  2.356426e+09  2015-03-20 09:30:05          4     9
             6296483  2.356426e+09  2015-03-20 09:24:33          4     9
             6296485  2.356426e+09  2015-03-20 04:02:57          4     4
             6296491  2.356426e+09  2015-03-20 03:55:06          4     3

                      weekNum interval
user_id
6.780330e+05 3457133  18-2015      NaT
             3457134  18-2015 02:27:19
             3457135  18-2015 00:58:20
             3457136  18-2015 02:09:52
             3457137  18-2015 00:01:04
             3457138  18-2015 01:52:21
             3457139  18-2015 00:19:05
             3457140  18-2015 04:14:09
             3457141  18-2015 00:00:54
             3457142  18-2015 00:31:10
             3457143  18-2015 05:30:52
             3457144  18-2015 00:17:41
             3457145  18-2015 04:40:06
             3457146  18-2015 00:20:23
             3457147  18-2015 00:02:36
             3457148  18-2015 00:01:21
             3457149  18-2015 00:00:50
             3457150  18-2015 00:00:47
             3457151  18-2015 00:00:58
             3457152  18-2015 00:15:10
             3457153  18-2015 00:37:48
             3457154  18-2015 00:29:41
             3457155  18-2015 01:12:50
             3457156  18-2015 00:00:31
             3457157  18-2015 00:00:16
             3457158  18-2015 02:11:33
             3457159  18-2015 00:04:44
             3457160  18-2015 00:02:23
             3457161  18-2015 00:00:39
             3457162  18-2015 02:17:47
...                       ...      ...
2.356426e+09 6296375  12-2015 00:00:45
             6296379  12-2015 00:00:27
             6296383  12-2015 00:05:16
             6296385  12-2015 00:08:16
             6296389  12-2015 01:03:43
             6296392  12-2015 01:00:40
             6296397  12-2015 00:14:26
             6296402  12-2015 00:52:00
             6296406  12-2015 00:00:30
             6296410  12-2015 00:00:12
             6296413  12-2015 00:18:04
             6296416  12-2015 05:17:49
             6296422  12-2015 00:26:55
             6296426  12-2015 00:01:50
             6296430  12-2015 00:00:11
             6296434  12-2015 00:01:16
             6296438  12-2015 00:00:55
             6296443  12-2015 01:16:54
             6296446  12-2015 02:00:55
             6296450  12-2015 00:20:53
             6296454  12-2015 00:06:48
             6296458  12-2015 00:01:00
             6296462  12-2015 00:01:08
             6296467  12-2015 00:10:22
             6296470  12-2015 00:00:37
             6296474  12-2015 00:04:34
             6296479  12-2015 00:13:36
             6296483  12-2015 00:05:32
             6296485  12-2015 05:21:36
             6296491  12-2015 00:07:51

[2839361 rows x 6 columns]

In [41]:
b[['user_id', 'dayOfWeek', 'hour', 'weekNum', 'interval']].groupby('user_id').max()

/opt/conda/lib/python3.6/site-packages/ipykernel_launcher.py:1: FutureWarning: 'user_id' is both an index level and a column label.
Defaulting to column, but this will raise an ambiguity error in a future version
  """Entry point for launching an IPython kernel.

              dayOfWeek  hour  weekNum          interval
user_id
6.780330e+05          6    23   9-2015   1 days 11:52:06
7.226230e+05          6    23   9-2015   3 days 01:29:20
7.551160e+05          6    23   9-2015   2 days 21:45:47
7.557460e+05          6    23   9-2015   2 days 16:44:34
7.850800e+05          6    23   9-2015   2 days 11:41:22
8.065850e+05          6    23  18-2015   0 days 15:46:25
8.069750e+05          6    23   9-2015   9 days 17:27:33
8.872810e+05          6    23   9-2015 220 days 19:18:13
1.382561e+06          6    23   9-2015  36 days 01:58:12
1.813221e+06          6    23   9-2015   1 days 19:48:44
2.770511e+06          6    23   9-2015   1 days 01:47:59
3.873101e+06          6    23   9-2015   0 days 17:30:20
3.888491e+06          6    23   9-2015  21 days 18:20:54
4.121091e+06          6    23   9-2015   0 days 15:37:55
5.445622e+06          6    23   9-2015   1 days 12:47:42
5.812422e+06          6    23   9-2015   6 days 03:16:38
5.820222e+06          6    23   9-2015   6 days 11:34:15
5.856182e+06          6    23   9-2015   8 days 10:33:15
6.296742e+06          6    23   9-2015   3 days 14:13:32
6.775342e+06          6    23   9-2015  68 days 17:27:08
6.834152e+06          6    23   9-2015   2 days 20:28:37
7.004532e+06          6    23  18-2015   0 days 13:18:48
8.548002e+06          6    23   9-2014 120 days 03:51:23
8.657052e+06          6    23   9-2015   4 days 13:16:19
8.711952e+06          6    23   9-2015 130 days 14:26:53
9.272142e+06          6    23   9-2015   3 days 10:34:31
9.427822e+06          6    23   9-2015   1 days 08:42:02
9.605632e+06          6    23   9-2015  10 days 14:01:59
1.035258e+07          6    23  18-2015   0 days 12:14:09
1.086625e+07          6    23   9-2015   3 days 05:50:29
...                 ...   ...      ...               ...
2.321395e+09          6    23   9-2015  43 days 00:55:42
2.323069e+09          6    23   9-2015  14 days 08:03:06
2.323691e+09          6    23   9-2015   3 days 14:18:30
2.324053e+09          6    22   9-2015  35 days 21:09:50
2.324541e+09          6    23   9-2015  48 days 19:49:27
2.324994e+09          6    23   9-2015   3 days 09:28:39
2.325932e+09          6    23  18-2015   0 days 18:05:29
2.326385e+09          6    23   9-2015  13 days 17:07:25
2.326631e+09          6    23  18-2015   2 days 11:13:29
2.329808e+09          6    23  18-2015   2 days 02:01:39
2.331546e+09          6    23   9-2015   9 days 03:39:03
2.331599e+09          6    23   9-2015  14 days 07:30:45
2.334889e+09          6    23  18-2015   0 days 13:11:44
2.334998e+09          6    23   9-2015  52 days 22:28:07
2.337494e+09          6    23  17-2015   4 days 15:23:39
2.337517e+09          6    23  18-2015   1 days 12:29:12
2.337952e+09          6    23   9-2015 128 days 01:53:54
2.339483e+09          6    23   9-2015  69 days 22:32:05
2.342766e+09          6    23  18-2015   1 days 01:10:59
2.343129e+09          6    23   9-2015   0 days 19:15:00
2.347556e+09          6    23   9-2015   3 days 14:46:30
2.347978e+09          6    23   9-2015   6 days 15:36:25
2.349579e+09          6    23   9-2015  35 days 18:22:50
2.349867e+09          6    23   9-2015   4 days 04:22:34
2.351779e+09          6    23   9-2015   7 days 07:16:22
2.352634e+09          6    23   9-2015   6 days 07:57:34
2.353354e+09          6    23   9-2014  27 days 12:26:06
2.354238e+09          6    23  18-2015   0 days 08:31:20
2.355848e+09          6    23   9-2015   1 days 23:21:45
2.356426e+09          6    23  18-2015   0 days 17:38:33

[1083 rows x 4 columns]