In [1]:
import pandas as pd

In [6]:
# Upload de Datasets
users_ff = pd.read_csv('users_ff.csv')
users_ss1 = pd.read_csv('users_ss1.csv')
users_ss2 = pd.read_csv('users_ss2.csv')
users_ss3 = pd.read_csv('users_ss3.csv')
users_ts = pd.read_csv('users_ts.csv')
tweets_ff = pd.read_csv('tweets_ff.csv')
tweets_ss1 = pd.read_csv('tweets_ss1.csv')
tweets_ss2 = pd.read_csv('tweets_ss2.csv')
tweets_ss3 = pd.read_csv('tweets_ss3.csv')
tweets_ts = pd.read_csv('tweets_ts.csv')

/opt/conda/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2785: DtypeWarning: Columns (8,11) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)
/opt/conda/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2785: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)
/opt/conda/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2785: DtypeWarning: Columns (7,10) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [8]:
pd.concat([users_ss1,users_ss2],ignore_index=True)

/opt/conda/lib/python3.6/site-packages/ipykernel_launcher.py:1: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  """Entry point for launching an IPython kernel.

,contributors_enabled,crawled_at,created_at,default_profile,default_profile_image,description,favourites_count,follow_request_sent,followers_count,following,...,protected,screen_name,statuses_count,test_set_1,time_zone,timestamp,updated,url,utc_offset,verified
0,NaN,2014-04-19 14:46:19,Tue Mar 17 08:51:12 +0000 2009,1.0,1.0,NaN,1,NaN,22,NaN,...,NaN,davideb66,1299,1.0,Rome,2009-03-17 09:51:12,2016-03-15 14:12:22,NaN,7200.0,NaN
1,NaN,2014-05-18 23:20:58,Sun Apr 19 14:38:04 +0000 2009,NaN,NaN,Autrice del libro #unavitatuttacurve dal 9 apr...,16358,NaN,12561,NaN,...,NaN,ElisaDospina,18665,1.0,Greenland,2009-04-19 16:38:04,2016-03-15 14:17:13,http://t.co/ceK8TovxwI,-7200.0,NaN
2,NaN,2014-05-13 23:21:54,Wed May 13 15:34:41 +0000 2009,NaN,NaN,[Live Long and Prosper],14,NaN,600,NaN,...,NaN,Vladimir65,22987,1.0,Rome,2009-05-13 17:34:41,2016-03-15 14:16:44,NaN,7200.0,NaN
3,NaN,2014-05-19 23:24:18,Wed Jul 15 12:55:03 +0000 2009,NaN,NaN,"Cuasi Odontologa*♥,#Bipolar, #Sarcastica & Som...",11,NaN,398,NaN,...,NaN,RafielaMorales,7975,1.0,Pacific Time (US & Canada),2009-07-15 14:55:03,2016-03-15 14:18:54,NaN,-25200.0,NaN
4,NaN,2014-05-11 23:22:23,Wed Aug 05 21:12:49 +0000 2009,NaN,NaN,"I shall rise from my own death, to avenge hers...",162,NaN,413,NaN,...,NaN,FabrizioC_c,20218,1.0,Rome,2009-08-05 23:12:49,2016-03-15 14:17:05,http://t.co/PK5F0JDKcy,7200.0,NaN
5,NaN,2014-04-22 23:20:09,Sat Dec 12 22:53:04 +0000 2009,NaN,NaN,O scrivi Italia o scrivi libertà. Due termini ...,55,NaN,134,NaN,...,NaN,Marianocrt,15259,1.0,Rome,2009-12-12 23:53:04,2016-03-15 14:12:14,NaN,7200.0,NaN
6,NaN,2014-06-07 23:23:32,Wed Jan 27 16:51:00 +0000 2010,NaN,NaN,paramore 10/06/13 ♥♥ - Tonight Alive - TVD -TO...,655,NaN,337,NaN,...,NaN,marzia_hayley,9551,1.0,NaN,2010-01-27 17:51:00,2016-03-15 14:21:24,http://t.co/JkUrqi0S0F,NaN,NaN
7,NaN,2014-05-20 23:24:27,Thu Aug 12 19:31:28 +0000 2010,NaN,NaN,"Appassionato di manga, anime, cimema, serie tv...",38,NaN,28,NaN,...,NaN,RobertoBoscaini,206,1.0,Rome,2010-08-12 21:31:28,2016-03-15 14:19:06,NaN,7200.0,NaN
8,NaN,2014-05-27 23:22:16,Tue Dec 07 19:08:04 +0000 2010,NaN,NaN,NaN,0,NaN,2617,NaN,...,NaN,ilsaggiolibro,93793,1.0,Rome,2010-12-07 20:08:04,2016-03-15 14:16:24,http://t.co/vze3v7KAp7,7200.0,NaN
9,NaN,2014-06-09 23:20:27,Wed Jan 12 07:32:14 +0000 2011,NaN,NaN,"Focosa, onesta, sincera. Mai tradire.",0,NaN,1561,NaN,...,NaN,RosannaPilano,490,1.0,Athens,2011-01-12 08:32:14,2016-03-15 14:13:44,NaN,10800.0,NaN
10,NaN,2014-06-08 23:23:49,Wed Jan 12 07:35:22 +0000 2011,NaN,NaN,"I love to travel, go on long walks on a gorgeo...",0,NaN,2355,NaN,...,NaN,Camillesr78,450,1.0,NaN,2011-01-12 08:35:22,2016-03-15 14:12:42,NaN,NaN,NaN
11,NaN,2014-06-09 23:20:04,Wed Jan 12 08:36:08 +0000 2011,NaN,NaN,"La mia vita è una festa, ma anche quella di un...",0,NaN,4772,NaN,...,NaN,Esteryr81,507,1.0,NaN,2011-01-12 09:36:08,2016-03-15 14:12:51,NaN,NaN,NaN
12,NaN,2014-06-09 23:22:35,Wed Jan 12 08:40:06 +0000 2011,NaN,NaN,"Molto socievole, amo la cucina, il vino, il ca...",0,NaN,5772,NaN,...,NaN,Moniqueeo84,513,1.0,NaN,2011-01-12 09:40:06,2016-03-15 14:12:02,NaN,NaN,NaN
13,NaN,2014-06-09 23:22:55,Wed Jan 12 08:59:57 +0000 2011,NaN,NaN,I've been described as the life of the party a...,0,NaN,124,NaN,...,NaN,EsterWalshgm75,311,1.0,NaN,2011-01-12 09:59:57,2016-03-15 14:14:50,NaN,NaN,NaN
14,NaN,2014-05-30 23:20:17,Wed Jan 12 09:18:38 +0000 2011,NaN,NaN,L'apparenza non è importante.,0,NaN,4375,NaN,...,NaN,Adelabx71,471,1.0,NaN,2011-01-12 10:18:38,2016-03-15 14:16:02,NaN,NaN,NaN
15,NaN,2014-06-09 23:22:54,Wed Jan 12 11:00:59 +0000 2011,NaN,NaN,"Mi piacciono le cittadine piccole, quelle dove...",0,NaN,5508,NaN,...,NaN,Adelahu83,478,1.0,NaN,2011-01-12 12:00:59,2016-03-15 14:14:09,NaN,NaN,NaN
16,NaN,2014-06-09 23:20:37,Wed Jan 12 11:31:54 +0000 2011,NaN,NaN,"La gioia di vivere, in me.",0,NaN,5505,NaN,...,NaN,Graciejl90,447,1.0,NaN,2011-01-12 12:31:54,2016-03-15 14:14:19,NaN,NaN,NaN
17,NaN,2014-06-09 23:23:06,Wed Jan 12 15:57:08 +0000 2011,NaN,NaN,"Sono una tipa tranquilla, blue jeans. Amo ball...",0,NaN,5530,NaN,...,NaN,Wendyn76e,444,1.0,NaN,2011-01-12 16:57:08,2016-03-15 14:12:55,NaN,NaN,NaN
18,NaN,2014-06-09 23:20:10,Wed Jan 12 16:13:39 +0000 2011,NaN,NaN,I am a down to earth person. I was raised coun...,0,NaN,6018,NaN,...,NaN,Larapa82,486,1.0,NaN,2011-01-12 17:13:39,2016-03-15 14:13:31,NaN,NaN,NaN
19,NaN,2014-06-07 23:20:07,Wed Jan 12 16:50:20 +0000 2011,NaN,NaN,"Non sono d'accordo nel fingere, questa società...",0,NaN,5359,NaN,...,NaN,Lessieri73,449,1.0,NaN,2011-01-12 17:50:20,2016-03-15 14:12:03,NaN,NaN,NaN
20,NaN,2014-06-09 23:23:30,Wed Jan 12 17:26:52 +0000 2011,NaN,NaN,I love to laugh and goof around. I am an affec...,0,NaN,4870,NaN,...,NaN,Matildadr89,514,1.0,NaN,2011-01-12 18:26:52,2016-03-15 14:13:29,NaN,NaN,NaN
21,NaN,2014-06-09 23:22:45,Wed Jan 12 17:48:25 +0000 2011,NaN,NaN,Well... I am a pretty outgoing individual that...,0,NaN,4316,NaN,...,NaN,Moniquenn89,477,1.0,NaN,2011-01-12 18:48:25,2016-03-15 14:12:44,NaN,NaN,NaN
22,NaN,2014-06-09 23:23:12,Wed Jan 12 18:10:22 +0000 2011,NaN,NaN,"This is a little on the weird side, but I'll g...",0,NaN,4420,NaN,...,NaN,Lydiali76,497,1.0,NaN,2011-01-12 19:10:22,2016-03-15 14:12:33,NaN,NaN,NaN
23,NaN,2014-06-09 23:21:56,Thu Jan 20 15:10:01 +0000 2011,NaN,NaN,Retwitto e Premio i migliori Tweets! Ricambio ...,3,NaN,4855,NaN,...,NaN,ilpoetadel,5550,1.0,Athens,2011-01-20 16:10:01,2016-03-15 14:12:11,NaN,10800.0,NaN
24,NaN,2014-06-09 23:21:26,Fri Mar 04 09:03:56 +0000 2011,1.0,NaN,...e guardo il mondo da un'oblò...(account con...,874,NaN,1901,NaN,...,NaN,iinokinji,13013,1.0,Amsterdam,2011-03-04 10:03:56,2016-03-15 14:18:20,NaN,7200.0,NaN
25,NaN,2014-05-24 23:20:59,Fri Apr 15 16:57:53 +0000 2011,NaN,NaN,Sconton è un portale fondato sui gruppi d'acqu...,0,NaN,192,NaN,...,NaN,Sconton,22794,1.0,NaN,2011-04-15 18:57:53,2016-03-15 14:18:27,http://t.co/jmvNGzkjYD,NaN,NaN
26,NaN,2014-04-19 23:23:00,Tue May 17 00:52:11 +0000 2011,NaN,NaN,Mercoledì 22.Maggio.2013 - Ore:14:10,272,NaN,243,NaN,...,NaN,PeterLaliOK,9053,1.0,Greenland,2011-05-17 02:52:11,2016-03-15 14:13:25,NaN,-7200.0,NaN
27,NaN,2014-04-27 23:20:27,Thu Jun 30 22:59:43 +0000 2011,1.0,NaN,"Mika e' la mia vita, Supernatural la mia passi...",418,NaN,10854,NaN,...,NaN,Airolf,25930,1.0,NaN,2011-07-01 00:59:43,2016-03-15 14:13:49,http://t.co/0mQHlgxEmD,NaN,NaN
28,NaN,2014-05-23 23:22:23,Sun Jul 17 08:10:34 +0000 2011,NaN,NaN,Per sapere chi sono statahttp://t.co/YnHLAz1Hy...,34156,NaN,3307,NaN,...,NaN,RosannaMarani,106283,1.0,Greenland,2011-07-17 10:10:34,2016-03-15 14:17:37,https://t.co/f8DT8BmzyN,-7200.0,NaN
29,NaN,2014-05-02 23:23:14,Thu Aug 18 14:33:51 +0000 2011,NaN,NaN,NaN,2,NaN,3236,NaN,...,NaN,stressfreezone_,381,1.0,Rome,2011-08-18 16:33:51,2016-03-15 14:14:17,NaN,7200.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4418,NaN,2014-05-03 00:22:41,Sat Feb 22 11:24:33 +0000 2014,NaN,NaN,NaN,0,NaN,4,NaN,...,NaN,CandanceBellion,73,NaN,NaN,2014-02-22 12:24:33,2016-03-15 15:20:29,NaN,NaN,NaN
4419,NaN,2014-05-03 00:22:41,Wed Feb 19 05:57:01 +0000 2014,NaN,NaN,NaN,0,NaN,6,NaN,...,NaN,YaekoMoeder,72,NaN,NaN,2014-02-19 06:57:01,2016-03-15 15:20:30,NaN,NaN,NaN
4420,NaN,2014-05-03 00:22:41,Sat Feb 22 13:12:33 +0000 2014,NaN,NaN,NaN,0,NaN,8,NaN,...,NaN,LaquandaOkolo,81,NaN,NaN,2014-02-22 14:12:33,2016-03-15 15:20:30,NaN,NaN,NaN
4421,NaN,2014-05-03 00:22:41,Mon Feb 17 20:37:54 +0000 2014,NaN,NaN,NaN,0,NaN,4,NaN,...,NaN,ShariceBaine,82,NaN,NaN,2014-02-17 21:37:54,2016-03-15 15:20:30,NaN,NaN,NaN
4422,NaN,2014-05-03 00:22:41,Fri Feb 21 19:05:34 +0000 2014,NaN,NaN,NaN,0,NaN,10,NaN,...,NaN,JerrieKaul,83,NaN,NaN,2014-02-21 20:05:34,2016-03-15 15:20:30,NaN,NaN,NaN
4423,NaN,2014-05-03 00:22:41,Fri Feb 21 18:20:39 +0000 2014,NaN,NaN,NaN,0,NaN,4,NaN,...,NaN,SimoneKandoll,85,NaN,NaN,2014-02-21 19:20:39,2016-03-15 15:20:31,NaN,NaN,NaN
4424,NaN,2014-05-03 00:22:41,Wed Feb 19 18:01:46 +0000 2014,NaN,NaN,NaN,0,NaN,6,NaN,...,NaN,EpifaniaHearon,75,NaN,NaN,2014-02-19 19:01:46,2016-03-15 15:20:31,NaN,NaN,NaN
4425,NaN,2014-05-03 00:22:41,Fri Feb 21 18:24:12 +0000 2014,NaN,NaN,NaN,0,NaN,3,NaN,...,NaN,LareeRindels,80,NaN,NaN,2014-02-21 19:24:12,2016-03-15 15:20:31,NaN,NaN,NaN
4426,NaN,2014-05-03 00:22:41,Fri Feb 21 04:14:14 +0000 2014,NaN,NaN,NaN,0,NaN,6,NaN,...,NaN,CarmeliaBonamo,83,NaN,NaN,2014-02-21 05:14:14,2016-03-15 15:20:32,NaN,NaN,NaN
4427,NaN,2014-05-03 00:22:41,Sat Feb 22 06:45:47 +0000 2014,NaN,NaN,NaN,0,NaN,1,NaN,...,NaN,FletaDakin,70,NaN,NaN,2014-02-22 07:45:47,2016-03-15 15:20:32,NaN,NaN,NaN
4428,NaN,2014-05-03 00:22:41,Fri Feb 21 13:27:17 +0000 2014,NaN,NaN,NaN,0,NaN,7,NaN,...,NaN,ElanaBettendorf,75,NaN,NaN,2014-02-21 14:27:17,2016-03-15 15:20:33,NaN,NaN,NaN
4429,NaN,2014-05-03 00:22:41,Wed Feb 19 21:30:42 +0000 2014,NaN,NaN,NaN,0,NaN,9,NaN,...,NaN,MelvaKellner,64,NaN,NaN,2014-02-19 22:30:42,2016-03-15 15:20:33,NaN,NaN,NaN
4430,NaN,2014-05-03 00:22:41,Thu Feb 20 09:28:34 +0000 2014,NaN,NaN,NaN,0,NaN,7,NaN,...,NaN,VergiePinkey,73,NaN,NaN,2014-02-20 10:28:34,2016-03-15 15:20:33,NaN,NaN,NaN
4431,NaN,2014-05-03 00:22:41,Thu Feb 20 01:51:40 +0000 2014,NaN,NaN,NaN,0,NaN,9,NaN,...,NaN,AleishaCardin,78,NaN,NaN,2014-02-20 02:51:40,2016-03-15 15:20:34,NaN,NaN,NaN
4432,NaN,2014-05-03 00:22:41,Wed Feb 19 15:32:27 +0000 2014,NaN,NaN,NaN,0,NaN,8,NaN,...,NaN,ElizabetSalk,74,NaN,NaN,2014-02-19 16:32:27,2016-03-15 15:20:34,NaN,NaN,NaN
4433,NaN,2014-05-03 00:22:42,Wed Feb 19 20:04:03 +0000 2014,NaN,NaN,NaN,0,NaN,9,NaN,...,NaN,EddieGrall,132,NaN,NaN,2014-02-19 21:04:03,2016-03-15 15:20:34,NaN,NaN,NaN
4434,NaN,2014-05-03 00:22:42,Tue Feb 18 10:49:58 +0000 2014,NaN,NaN,NaN,0,NaN,10,NaN,...,NaN,KenyaTriarsi,77,NaN,NaN,2014-02-18 11:49:58,2016-03-15 15:20:34,NaN,NaN,NaN
4435,NaN,2014-05-03 00:22:42,Wed Feb 19 03:06:22 +0000 2014,NaN,NaN,NaN,0,NaN,2,NaN,...,NaN,AlyciaCockram,89,NaN,NaN,2014-02-19 04:06:22,2016-03-15 15:20:35,NaN,NaN,NaN
4436,NaN,2014-05-03 00:22:42,Tue Feb 18 11:39:33 +0000 2014,NaN,NaN,NaN,0,NaN,6,NaN,...,NaN,JeanetteThrift,85,NaN,NaN,2014-02-18 12:39:33,2016-03-15 15:20:35,NaN,NaN,NaN
4437,NaN,2014-05-03 00:22:42,Wed Feb 19 23:24:31 +0000 2014,NaN,NaN,NaN,0,NaN,6,NaN,...,NaN,KateWojtak,64,NaN,NaN,2014-02-20 00:24:31,2016-03-15 15:20:35,NaN,NaN,NaN
4438,NaN,2014-05-03 00:22:42,Wed Feb 19 17:38:19 +0000 2014,NaN,NaN,NaN,0,NaN,2,NaN,...,NaN,RosieRosander,66,NaN,NaN,2014-02-19 18:38:19,2016-03-15 15:20:36,NaN,NaN,NaN
4439,NaN,2014-05-03 00:22:42,Wed Feb 19 10:12:58 +0000 2014,NaN,NaN,NaN,0,NaN,39,NaN,...,NaN,FeBeaton,305,NaN,NaN,2014-02-19 11:12:58,2016-03-15 15:20:36,NaN,NaN,NaN
4440,NaN,2014-05-03 00:22:42,Mon Feb 17 18:29:45 +0000 2014,NaN,NaN,NaN,0,NaN,22,NaN,...,NaN,RubyFalter,90,NaN,NaN,2014-02-17 19:29:45,2016-03-15 15:20:36,NaN,NaN,NaN
4441,NaN,2014-05-03 00:22:42,Wed Feb 19 03:59:38 +0000 2014,NaN,NaN,NaN,0,NaN,78,NaN,...,NaN,ShannanCohran,328,NaN,NaN,2014-02-19 04:59:38,2016-03-15 15:20:36,NaN,NaN,NaN
4442,NaN,2014-05-03 00:22:42,Tue Feb 18 08:10:31 +0000 2014,NaN,NaN,NaN,0,NaN,87,NaN,...,NaN,KathleneCavey,265,NaN,NaN,2014-02-18 09:10:31,2016-03-15 15:20:37,NaN,NaN,NaN
4443,NaN,2014-05-03 00:22:42,Tue Feb 18 01:54:59 +0000 2014,NaN,NaN,NaN,0,NaN,59,NaN,...,NaN,RubyPorchia,221,NaN,NaN,2014-02-18 02:54:59,2016-03-15 15:20:37,NaN,NaN,NaN
4444,NaN,2014-05-05 00:20:03,Fri Mar 07 19:59:21 +0000 2014,1.0,NaN,NaN,26,NaN,6,NaN,...,NaN,MasudThomas,20,NaN,NaN,2014-03-07 20:59:21,2016-03-15 15:20:37,NaN,NaN,NaN
4445,NaN,2014-05-02 00:20:22,Sun Feb 23 05:49:47 +0000 2014,NaN,NaN,NaN,0,NaN,4,NaN,...,NaN,RhondaHoes,51,NaN,NaN,2014-02-23 06:49:47,2016-03-15 15:20:38,NaN,NaN,NaN
4446,NaN,2014-05-02 00:20:53,Tue Feb 18 06:50:16 +0000 2014,NaN,NaN,NaN,0,NaN,105,NaN,...,NaN,MaeAsif,283,NaN,NaN,2014-02-18 07:50:16,2016-03-15 15:20:38,NaN,NaN,NaN
4447,NaN,2014-05-02 00:21:25,Sun Feb 23 13:00:20 +0000 2014,NaN,NaN,NaN,0,NaN,6,NaN,...,NaN,YvonneHarpel,50,NaN,NaN,2014-02-23 14:00:20,2016-03-15 15:20:39,NaN,NaN,NaN

In [9]:
users_ss1.columns

Index(['id', 'name', 'screen_name', 'statuses_count', 'followers_count',
       'friends_count', 'favourites_count', 'listed_count', 'url', 'lang',
       'time_zone', 'location', 'default_profile', 'default_profile_image',
       'geo_enabled', 'profile_image_url', 'profile_banner_url',
       'profile_use_background_image', 'profile_background_image_url_https',
       'profile_text_color', 'profile_image_url_https',
       'profile_sidebar_border_color', 'profile_background_tile',
       'profile_sidebar_fill_color', 'profile_background_image_url',
       'profile_background_color', 'profile_link_color', 'utc_offset',
       'is_translator', 'follow_request_sent', 'protected', 'verified',
       'notifications', 'description', 'contributors_enabled', 'following',
       'created_at', 'timestamp', 'crawled_at', 'updated', 'test_set_1'],
      dtype='object')

In [16]:
users_ff.columns.astype(str)

Index(['id', 'name', 'screen_name', 'statuses_count', 'followers_count',
       'friends_count', 'favourites_count', 'listed_count', 'created_at',
       'url', 'lang', 'time_zone', 'location', 'default_profile',
       'default_profile_image', 'geo_enabled', 'profile_image_url',
       'profile_banner_url', 'profile_use_background_image',
       'profile_background_image_url_https', 'profile_text_color',
       'profile_image_url_https', 'profile_sidebar_border_color',
       'profile_background_tile', 'profile_sidebar_fill_color',
       'profile_background_image_url', 'profile_background_color',
       'profile_link_color', 'utc_offset', 'is_translator',
       'follow_request_sent', 'protected', 'verified', 'notifications',
       'description', 'contributors_enabled', 'following', 'updated'],
      dtype='object')

In [19]:
users_ss1.merge(users_ff, indicator=True, how='outer')

,id,name,screen_name,statuses_count,followers_count,friends_count,favourites_count,listed_count,url,lang,...,notifications,description,contributors_enabled,following,created_at,timestamp,crawled_at,updated,test_set_1,_merge
0,24858289,Davide Bertoli,davideb66,1299,22,40,1,0,NaN,it,...,NaN,NaN,NaN,NaN,Tue Mar 17 08:51:12 +0000 2009,2009-03-17 09:51:12,2014-04-19 14:46:19,2016-03-15 14:12:22,1.0,left_only
1,33212890,Elisa D'Ospina,ElisaDospina,18665,12561,3442,16358,110,http://t.co/ceK8TovxwI,it,...,NaN,Autrice del libro #unavitatuttacurve dal 9 apr...,NaN,NaN,Sun Apr 19 14:38:04 +0000 2009,2009-04-19 16:38:04,2014-05-18 23:20:58,2016-03-15 14:17:13,1.0,left_only
2,39773427,Donato Vincenzo,Vladimir65,22987,600,755,14,6,NaN,it,...,NaN,[Live Long and Prosper],NaN,NaN,Wed May 13 15:34:41 +0000 2009,2009-05-13 17:34:41,2014-05-13 23:21:54,2016-03-15 14:16:44,1.0,left_only
3,57007623,Rafiela Morales L.,RafielaMorales,7975,398,350,11,2,NaN,en,...,NaN,"Cuasi Odontologa*♥,#Bipolar, #Sarcastica & Som...",NaN,NaN,Wed Jul 15 12:55:03 +0000 2009,2009-07-15 14:55:03,2014-05-19 23:24:18,2016-03-15 14:18:54,1.0,left_only
4,63258466,§ h a † u r♄,FabrizioC_c,20218,413,405,162,8,http://t.co/PK5F0JDKcy,it,...,NaN,"I shall rise from my own death, to avenge hers...",NaN,NaN,Wed Aug 05 21:12:49 +0000 2009,2009-08-05 23:12:49,2014-05-11 23:22:23,2016-03-15 14:17:05,1.0,left_only
5,96435556,Mariano,Marianocrt,15259,134,401,55,1,NaN,it,...,NaN,O scrivi Italia o scrivi libertà. Due termini ...,NaN,NaN,Sat Dec 12 22:53:04 +0000 2009,2009-12-12 23:53:04,2014-04-22 23:20:09,2016-03-15 14:12:14,1.0,left_only
6,108992875,marzia menonna,marzia_hayley,9551,337,630,655,1,http://t.co/JkUrqi0S0F,it,...,NaN,paramore 10/06/13 ♥♥ - Tonight Alive - TVD -TO...,NaN,NaN,Wed Jan 27 16:51:00 +0000 2010,2010-01-27 17:51:00,2014-06-07 23:23:32,2016-03-15 14:21:24,1.0,left_only
7,177671726,Roberto Boscaini,RobertoBoscaini,206,28,105,38,0,NaN,it,...,NaN,"Appassionato di manga, anime, cimema, serie tv...",NaN,NaN,Thu Aug 12 19:31:28 +0000 2010,2010-08-12 21:31:28,2014-05-20 23:24:27,2016-03-15 14:19:06,1.0,left_only
8,223945761,Ilsaggiolibro.it,ilsaggiolibro,93793,2617,52,0,28,http://t.co/vze3v7KAp7,it,...,NaN,NaN,NaN,NaN,Tue Dec 07 19:08:04 +0000 2010,2010-12-07 20:08:04,2014-05-27 23:22:16,2016-03-15 14:16:24,1.0,left_only
9,237177357,Rosanna Pilano,RosannaPilano,490,1561,2001,0,0,NaN,it,...,NaN,"Focosa, onesta, sincera. Mai tradire.",NaN,NaN,Wed Jan 12 07:32:14 +0000 2011,2011-01-12 08:32:14,2014-06-09 23:20:27,2016-03-15 14:13:44,1.0,left_only
10,237178034,Camille Rodriguez,Camillesr78,450,2355,2074,0,3,NaN,en,...,NaN,"I love to travel, go on long walks on a gorgeo...",NaN,NaN,Wed Jan 12 07:35:22 +0000 2011,2011-01-12 08:35:22,2014-06-08 23:23:49,2016-03-15 14:12:42,1.0,left_only
11,237192061,Ester Sirru,Esteryr81,507,4772,5167,0,5,NaN,en,...,NaN,"La mia vita è una festa, ma anche quella di un...",NaN,NaN,Wed Jan 12 08:36:08 +0000 2011,2011-01-12 09:36:08,2014-06-09 23:20:04,2016-03-15 14:12:51,1.0,left_only
12,237192993,Monica Carta,Moniqueeo84,513,5772,6022,0,7,NaN,en,...,NaN,"Molto socievole, amo la cucina, il vino, il ca...",NaN,NaN,Wed Jan 12 08:40:06 +0000 2011,2011-01-12 09:40:06,2014-06-09 23:22:35,2016-03-15 14:12:02,1.0,left_only
13,237197647,Ester Walsh,EsterWalshgm75,311,124,0,0,0,NaN,en,...,NaN,I've been described as the life of the party a...,NaN,NaN,Wed Jan 12 08:59:57 +0000 2011,2011-01-12 09:59:57,2014-06-09 23:22:55,2016-03-15 14:14:50,1.0,left_only
14,237201814,Adele,Adelabx71,471,4375,4777,0,5,NaN,en,...,NaN,L'apparenza non è importante.,NaN,NaN,Wed Jan 12 09:18:38 +0000 2011,2011-01-12 10:18:38,2014-05-30 23:20:17,2016-03-15 14:16:02,1.0,left_only
15,237226175,Adele Bernini,Adelahu83,478,5508,5642,0,3,NaN,en,...,NaN,"Mi piacciono le cittadine piccole, quelle dove...",NaN,NaN,Wed Jan 12 11:00:59 +0000 2011,2011-01-12 12:00:59,2014-06-09 23:22:54,2016-03-15 14:14:09,1.0,left_only
16,237234251,Grazia Casini,Graciejl90,447,5505,5701,0,7,NaN,en,...,NaN,"La gioia di vivere, in me.",NaN,NaN,Wed Jan 12 11:31:54 +0000 2011,2011-01-12 12:31:54,2014-06-09 23:20:37,2016-03-15 14:14:19,1.0,left_only
17,237326341,Veronica,Wendyn76e,444,5530,5873,0,5,NaN,en,...,NaN,"Sono una tipa tranquilla, blue jeans. Amo ball...",NaN,NaN,Wed Jan 12 15:57:08 +0000 2011,2011-01-12 16:57:08,2014-06-09 23:23:06,2016-03-15 14:12:55,1.0,left_only
18,237332572,Laura Ricca,Larapa82,486,6018,6466,0,11,NaN,en,...,NaN,I am a down to earth person. I was raised coun...,NaN,NaN,Wed Jan 12 16:13:39 +0000 2011,2011-01-12 17:13:39,2014-06-09 23:20:10,2016-03-15 14:13:31,1.0,left_only
19,237346330,Carla Lessieri,Lessieri73,449,5359,5595,0,5,NaN,en,...,NaN,"Non sono d'accordo nel fingere, questa società...",NaN,NaN,Wed Jan 12 16:50:20 +0000 2011,2011-01-12 17:50:20,2014-06-07 23:20:07,2016-03-15 14:12:03,1.0,left_only
20,237359828,Matilda Combs,Matildadr89,514,4870,5350,0,8,NaN,en,...,NaN,I love to laugh and goof around. I am an affec...,NaN,NaN,Wed Jan 12 17:26:52 +0000 2011,2011-01-12 18:26:52,2014-06-09 23:23:30,2016-03-15 14:13:29,1.0,left_only
21,237367607,Monique Waller,Moniquenn89,477,4316,4716,0,5,NaN,en,...,NaN,Well... I am a pretty outgoing individual that...,NaN,NaN,Wed Jan 12 17:48:25 +0000 2011,2011-01-12 18:48:25,2014-06-09 23:22:45,2016-03-15 14:12:44,1.0,left_only
22,237375183,Lydia Wallace,Lydiali76,497,4420,4731,0,5,NaN,en,...,NaN,"This is a little on the weird side, but I'll g...",NaN,NaN,Wed Jan 12 18:10:22 +0000 2011,2011-01-12 19:10:22,2014-06-09 23:23:12,2016-03-15 14:12:33,1.0,left_only
23,240706202,Il Trofeo,ilpoetadel,5550,4855,5300,3,9,NaN,it,...,NaN,Retwitto e Premio i migliori Tweets! Ricambio ...,NaN,NaN,Thu Jan 20 15:10:01 +0000 2011,2011-01-20 16:10:01,2014-06-09 23:21:56,2016-03-15 14:12:11,1.0,left_only
24,260649579,iino kinji,iinokinji,13013,1901,1895,874,2,NaN,en,...,NaN,...e guardo il mondo da un'oblò...(account con...,NaN,NaN,Fri Mar 04 09:03:56 +0000 2011,2011-03-04 10:03:56,2014-06-09 23:21:26,2016-03-15 14:18:20,1.0,left_only
25,282659109,Sconton,Sconton,22794,192,73,0,1,http://t.co/jmvNGzkjYD,it,...,NaN,Sconton è un portale fondato sui gruppi d'acqu...,NaN,NaN,Fri Apr 15 16:57:53 +0000 2011,2011-04-15 18:57:53,2014-05-24 23:20:59,2016-03-15 14:18:27,1.0,left_only
26,299988118,Marco,PeterLaliOK,9053,243,965,272,0,NaN,it,...,NaN,Mercoledì 22.Maggio.2013 - Ore:14:10,NaN,NaN,Tue May 17 00:52:11 +0000 2011,2011-05-17 02:52:11,2014-04-19 23:23:00,2016-03-15 14:13:25,1.0,left_only
27,327060670,Federico Floria,Airolf,25930,10854,10606,418,66,http://t.co/0mQHlgxEmD,it,...,NaN,"Mika e' la mia vita, Supernatural la mia passi...",NaN,NaN,Thu Jun 30 22:59:43 +0000 2011,2011-07-01 00:59:43,2014-04-27 23:20:27,2016-03-15 14:13:49,1.0,left_only
28,336996257,Rosanna Marani,RosannaMarani,106283,3307,934,34156,88,https://t.co/f8DT8BmzyN,it,...,NaN,Per sapere chi sono statahttp://t.co/YnHLAz1Hy...,NaN,NaN,Sun Jul 17 08:10:34 +0000 2011,2011-07-17 10:10:34,2014-05-23 23:22:23,2016-03-15 14:17:37,1.0,left_only
29,357536147,My stress free zone,stressfreezone_,381,3236,1923,2,50,NaN,it,...,NaN,NaN,NaN,NaN,Thu Aug 18 14:33:51 +0000 2011,2011-08-18 16:33:51,2014-05-02 23:23:14,2016-03-15 14:14:17,1.0,left_only
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4312,1380948325,Dolores Mckenzie,DoloresMckenz13,0,0,17,0,0,NaN,en,...,NaN,NaN,NaN,NaN,Fri Apr 26 03:01:40 +0000 2013,NaN,NaN,2013-06-12 18:38:35,NaN,right_only
4313,1381040010,Louann Carroll,LouannCarroll3,2,1,21,0,0,NaN,en,...,NaN,"Where Torque and Horsepowr Meet, we are a perf...",NaN,NaN,Fri Apr 26 04:29:24 +0000 2013,NaN,NaN,2013-06-11 17:39:44,NaN,right_only
4314,1381069658,Anneliese Franklin,AnnelieseFrankl,0,0,20,0,0,NaN,en,...,NaN,"Enjoy Sharing with each other your Tips, Jobs,...",NaN,NaN,Fri Apr 26 04:36:10 +0000 2013,NaN,NaN,2013-06-11 17:39:44,NaN,right_only
4315,1381167558,Ming Meyers,MingMeyers,2,1,8,0,0,NaN,en,...,NaN,NaN,NaN,NaN,Fri Apr 26 06:01:54 +0000 2013,NaN,NaN,2013-06-12 18:38:35,NaN,right_only
4316,1381246512,Estrella Valenzuela,EstrellaValenz6,3,0,15,0,0,NaN,en,...,NaN,NaN,NaN,NaN,Fri Apr 26 06:55:21 +0000 2013,NaN,NaN,2013-06-12 18:38:26,NaN,right_only
4317,1381363692,Jewel Bailey,JewelBailey14,1,0,17,0,0,NaN,en,...,NaN,Spreading the power of music through guitars i...,NaN,NaN,Fri Apr 26 08:15:07 +0000 2013,NaN,NaN,2013-06-11 17:39:44,NaN,right_only
4318,1381459980,Kaley Romero,KaleyRomero1,3,0,16,0,0,NaN,en,...,NaN,cul n sexy buh hot temprd teamfolloback ifollo...,NaN,NaN,Fri Apr 26 09:19:40 +0000 2013,NaN,NaN,2013-06-12 18:38:35,NaN,right_only
4319,1381512248,Maynard Anderson,MaynardAnderso2,1,2,19,0,0,NaN,en,...,NaN,Hit That Follow Button & Find Out ! TeamFollow...,NaN,NaN,Fri Apr 26 09:40:43 +0000 2013,NaN,NaN,2013-06-11 17:39:44,NaN,right_only
4320,1381607736,Adelaide Dejesus,AdelaideDejesu2,2,2,15,0,0,NaN,en,...,NaN,NaN,NaN,NaN,Fri Apr 26 10:48:31 +0000 2013,NaN,NaN,2013-06-12 18:38:26,NaN,right_only
4321,1381744988,Zina Cote,ZinaCote,1,1,17,0,0,NaN,en,...,NaN,The officia twitter of the unofficial blog....,NaN,NaN,Fri Apr 26 11:55:55 +0000 2013,NaN,NaN,2013-06-11 17:39:44,NaN,right_only
4322,1381913143,Ira Rasmussen,IraRasmussen,1,2,20,0,0,NaN,en,...,NaN,I love he cmpetition...,NaN,NaN,Fri Apr 26 13:20:56 +0000 2013,NaN,NaN,2013-06-11 17:39:44,NaN,right_only
4323,1382419244,Eulah Burton,EulahBurton1,2,0,15,0,0,NaN,en,...,NaN,NaN,NaN,NaN,Fri Apr 26 17:12:08 +0000 2013,NaN,NaN,2013-06-12 18:38:35,NaN,right_only
4324,1383712140,Chiquita Rosario,ChiquitaRosari2,2,1,20,0,0,NaN,en,...,NaN,Pedro Lanza eu te amo mais que tudo nessemundo!♥,NaN,NaN,Sat Apr 27 06:36:03 +0000 2013,NaN,NaN,2013-06-12 18:38:35,NaN,right_only
4325,1385228084,Hyo Zimmerman,HyoZimmerman,2,1,14,0,0,NaN,en,...,NaN,NaN,NaN,NaN,Sat Apr 27 18:53:21 +0000 2013,NaN,NaN,2013-06-12 18:38:26,NaN,right_only
4326,1385297372,Yolanda Hooper,YolandaHooper7,1,0,18,0,0,NaN,en,...,NaN,Gt a lot of love for three boys named Dan Ferr...,NaN,NaN,Sat Apr 27 19:30:24 +0000 2013,NaN,NaN,2013-06-12 18:38:35,NaN,right_only
4327,1386172154,Leesa Hood,LeesaHood,1,2,15,0,0,NaN,en,...,NaN,NaN,NaN,NaN,Sun Apr 28 05:21:14 +0000 2013,NaN,NaN,2013-06-12 18:38:35,NaN,right_only
4328,1386519432,Lorina Macias,LorinaMacias,2,2,15,0,0,NaN,en,...,NaN,TeamBrownskin TeamGemini TeamBOOGIE TeamFollow...,NaN,NaN,Sun Apr 28 09:20:00 +0000 2013,NaN,NaN,2013-06-12 18:38:26,NaN,right_only
4329,1386549638,Jacquelyn Dunlap,JacquelynDunl16,2,1,18,0,0,NaN,en,...,NaN,NaN,NaN,NaN,Sun Apr 28 09:26:04 +0000 2013,NaN,NaN,2013-06-12 18:38:26,NaN,right_only
4330,1386619668,Darryl Hansen,DarrylHansen3,3,1,22,0,0,NaN,en,...,NaN,NaN,NaN,NaN,Sun Apr 28 10:22:11 +0000 2013,NaN,NaN,2013-06-11 17:39:44,NaN,right_only
4331,1387393236,Lillie Leonard,LillieLeonard12,2,0,18,0,0,NaN,en,...,NaN,"Great Clients, Great Websites. Web design, dev...",NaN,NaN,Sun Apr 28 17:01:13 +0000 2013,NaN,NaN,2013-06-12 18:38:35,NaN,right_only
4332,1387417639,Kenyetta Sutton,KenyettaSutton,2,0,22,0,0,NaN,en,...,NaN,The Oficial witter Page of FollowBackTour * T...,NaN,NaN,Sun Apr 28 16:57:51 +0000 2013,NaN,NaN,2013-06-12 18:38:35,NaN,right_only
4333,1387702238,Theodore Harmon,TheodoreHarmon2,2,0,24,0,0,NaN,en,...,NaN,NaN,NaN,NaN,Sun Apr 28 19:16:27 +0000 2013,NaN,NaN,2013-06-12 18:38:35,NaN,right_only
4334,1388028872,Delmer Morris,DelmerMorris1,1,1,12,0,0,NaN,en,...,NaN,"| TeamDarkSkinn , 5'9 , Tha Name iss BiiG RICH...",NaN,NaN,Sun Apr 28 22:04:02 +0000 2013,NaN,NaN,2013-06-12 18:38:35,NaN,right_only
4335,1388819528,Pearle Atkins,PearleAtkins1,1,1,21,0,0,NaN,en,...,NaN,Heling people find a healthier body onelb at a...,NaN,NaN,Mon Apr 29 06:39:34 +0000 2013,NaN,NaN,2013-06-12 18:38:26,NaN,right_only
4336,1391378610,Delila Merritt,DelilaMerritt1,2,1,19,0,0,NaN,en,...,NaN,NaN,NaN,NaN,Tue Apr 30 07:11:17 +0000 2013,NaN,NaN,2013-06-12 18:38:35,NaN,right_only
4337,1391497074,Verda Marks,VerdaMarks1,1,0,17,0,0,NaN,en,...,NaN,I have been in business onlin and offline for ...,NaN,NaN,Tue Apr 30 08:23:57 +0000 2013,NaN,NaN,2013-06-12 18:38:26,NaN,right_only
4338,1391544607,Danial Campbell,DanialCampbell2,0,1,17,0,0,NaN,en,...,NaN,NaN,NaN,NaN,Tue Apr 30 08:34:49 +0000 2013,NaN,NaN,2013-06-12 18:38:35,NaN,right_only
4339,1391622127,Maudie Meyer,MaudieMeyer1,2,0,15,0,0,NaN,en,...,NaN,NaN,NaN,NaN,Tue Apr 30 09:21:12 +0000 2013,NaN,NaN,2013-06-12 18:38:35,NaN,right_only
4340,1391832212,Harriett Harvey,HarriettHarvey9,2,0,16,0,0,NaN,en,...,NaN,NaN,NaN,NaN,Tue Apr 30 11:25:11 +0000 2013,NaN,NaN,2013-06-12 18:38:26,NaN,right_only
4341,1391998039,Gillian Wheeler,GillianWheeler3,0,0,17,0,0,NaN,en,...,NaN,Hello!im a BELIEBER! IM A HUGE FAN OF JUSTIN B...,NaN,NaN,Tue Apr 30 12:47:51 +0000 2013,NaN,NaN,2013-06-12 18:38:26,NaN,right_only