In [1]:
import pandas as pd
import numpy as np
from IPython.display import HTML, display

In [2]:
# Upload de Datasets
# https://drive.google.com/drive/folders/1oncC_yOvZeNGmC_hLJeavdM4MPq3BkNd
# deben estar en la carpeta original_datasets

users_ff = pd.read_csv('original_datasets/users_ff.csv')
users_ss1 = pd.read_csv('original_datasets/users_ss1.csv')
users_ss2 = pd.read_csv('original_datasets/users_ss2.csv')
users_ss3 = pd.read_csv('original_datasets/users_ss3.csv')
users_ts = pd.read_csv('original_datasets/users_ts.csv')
users_humans = pd.read_csv('original_datasets/users_gen.csv')

# tweets_ff = pd.read_csv('original_datasets/tweets_ff.csv')
# tweets_ss1 = pd.read_csv('original_datasets/tweets_ss1.csv')
# tweets_ss2 = pd.read_csv('original_datasets/tweets_ss2.csv')
# tweets_ss3 = pd.read_csv('original_datasets/tweets_ss3.csv')
# tweets_ts = pd.read_csv('original_datasets/tweets_ts.csv')
tweets_humans = pd.read_csv('original_datasets/tweets_gen.csv')

C:\Program Files (x86)\Microsoft Visual Studio\Shared\Anaconda3_64\lib\site-packages\IPython\core\interactiveshell.py:2785: DtypeWarning: Columns (0) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [16]:
users_humans.head()

,id,name,screen_name,statuses_count,followers_count,friends_count,favourites_count,listed_count,url,lang,...,notifications,description,contributors_enabled,following,created_at,timestamp,crawled_at,updated,Cat,bot
0,1502026416,TASUKU HAYAKAWA,0918Bask,2177,208,332,265,1,NaN,ja,...,NaN,15years ago X.Lines24,NaN,NaN,Tue Jun 11 11:20:35 +0000 2013,2013-06-11 13:20:35,2015-05-02 06:41:46,2016-03-15 15:53:47,Humans,False
1,2492782375,ro_or,1120Roll,2660,330,485,3972,5,NaN,ja,...,NaN,保守見習い地元大好き人間。 経済学、電工、仏教を勉強中、ちなDeではいかんのか？ (*^◯^*),NaN,NaN,Tue May 13 10:37:57 +0000 2014,2014-05-13 12:37:57,2015-05-01 17:20:27,2016-03-15 15:53:48,Humans,False
2,293212315,bearclaw,14KBBrown,1254,166,177,1185,0,NaN,en,...,NaN,Let me see what your best move is!,NaN,NaN,Wed May 04 23:30:37 +0000 2011,2011-05-05 01:30:37,2015-05-01 18:48:28,2016-03-15 15:53:48,Humans,False
3,191839658,pocahontas farida,wadespeters,202968,2248,981,60304,101,http://t.co/rGV0HIJGsu,en,...,NaN,20. menna: #farida #nyc and the 80s actually y...,NaN,NaN,Fri Sep 17 14:02:10 +0000 2010,2010-09-17 16:02:10,2015-05-01 13:55:16,2016-03-15 15:53:48,Humans,False
4,3020965143,Ms Kathy,191a5bd05da04dc,82,21,79,5,0,NaN,en,...,NaN,Cosmetologist,NaN,NaN,Fri Feb 06 04:10:49 +0000 2015,2015-02-06 05:10:49,2015-05-02 01:17:32,2016-03-15 15:53:48,Humans,False

### Dataset Usuarios

In [3]:
# Agregar columna para categorizar
users_ss1.loc[:,'Cat'] = 'SocialSpambot'
users_ss2.loc[:,'Cat'] = 'SocialSpambot'
users_ss3.loc[:,'Cat'] = 'SocialSpambot'
users_ts.loc[:,'Cat'] = 'TraditionalSpambot'
users_ff.loc[:,'Cat'] = 'FollowersBot'
users_humans.loc[:,'Cat'] = 'Humans'

users_ss1.loc[:,'bot'] = True
users_ss2.loc[:,'bot'] = True
users_ss3.loc[:,'bot'] = True
users_ts.loc[:,'bot'] = True
users_ff.loc[:,'bot'] = True
users_humans.loc[:,'bot'] = False

In [4]:
# Identificar columnas que no coinciden entre datasets
total_columns = []
for x in [users_ss1, users_ss2, users_ss3, users_ts, users_ff, users_humans]:
#     print(x.columns.values)
    total_columns = np.concatenate((total_columns, x.columns.values))
    
total_columns = np.unique(np.array(total_columns))
dfHasColumns = pd.DataFrame( columns = total_columns)
for dfName in ['users_ss1', 'users_ss2', 'users_ss3', 'users_ts', 'users_ff', 'users_humans']:
    dataFrame = globals()[dfName]
    cols = dataFrame.columns.values
    hasCol = [1 if x in(cols) else 0 for x in dfHasColumns.columns.values]
    dfHasColumns.loc[dfName] = hasCol
dfHasColumns  = dfHasColumns.T
dfHasColumns.loc[:,'total'] = dfHasColumns.sum(axis=1)

dfHasColumns.sort_values(by='total').head(7)

,users_ss1,users_ss2,users_ss3,users_ts,users_ff,users_humans,total
test_set_2,0,0,1,0,0,1,2.0
test_set_1,1,0,0,0,0,1,2.0
crawled_at,1,1,1,1,0,1,5.0
timestamp,1,1,1,1,0,1,5.0
Cat,1,1,1,1,1,1,6.0
profile_background_tile,1,1,1,1,1,1,6.0
profile_banner_url,1,1,1,1,1,1,6.0

In [5]:
display()

# for x in users_humans.columns.values:
#     display(
#         users_humans.loc[:,[x]][users_humans.loc[:,[x]].notnull().values].head(2)
#     )

#### Conclusiones de esta tabla:
La columna 'crawled_at' no se encuentra en users_ff (Folowers Bot).<br>
Esta columna es importante debido a que nos da una idea de la cantidad de meses que ese bot estuvo activo (y nos permite calcular una vida promedio del bot)
Hay tres opciones:<br>
1 No calcular la cantidad de meses antes que un bot se crea.<br>
2 No utilizar ese dataset.<br>
3 Asumir la fecha updated que esta presente en todos los casos

In [6]:
# Limpiar columnas innecesarias
users_ss1.drop(columns='test_set_1',inplace=True)
users_ss3.drop(columns='test_set_2',inplace=True)
users_humans.drop(columns=['test_set_1','test_set_2'],inplace=True)

In [7]:
# Concatenar datasets de Usuarios (SocialSpambots & Traditional Spambots)
users = pd.concat([users_ss1,users_ss2,users_ss3,users_ts,users_ff,users_humans],ignore_index=True)

C:\Program Files (x86)\Microsoft Visual Studio\Shared\Anaconda3_64\lib\site-packages\ipykernel_launcher.py:2: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

In [8]:
# Drop Cero Columns
users.drop(columns=['contributors_enabled','follow_request_sent','following','is_translator','notifications',],inplace=True)

In [11]:
tweets_humans.head()

,id,text,source,user_id,truncated,in_reply_to_status_id,in_reply_to_user_id,in_reply_to_screen_name,retweeted_status_id,geo,...,favorited,retweeted,possibly_sensitive,num_hashtags,num_urls,num_mentions,created_at,timestamp,crawled_at,updated
0,593932392663912449,RT @morningJewshow: Speaking about Jews and co...,"<a href=""http://tapbots.com/tweetbot"" rel=""nof...",678033.0,NaN,0.0,0.0,NaN,5.939322e+17,NaN,...,NaN,NaN,NaN,0.0,0.0,1.0,Fri May 01 00:18:11 +0000 2015,2015-05-01 02:18:11,2015-05-01 12:57:19,2015-05-01 12:57:19
1,593895316719423488,This age/face recognition thing..no reason pla...,"<a href=""http://twitter.com"" rel=""nofollow"">Tw...",678033.0,NaN,0.0,0.0,NaN,0.000000e+00,NaN,...,NaN,NaN,NaN,0.0,0.0,0.0,Thu Apr 30 21:50:52 +0000 2015,2015-04-30 23:50:52,2015-05-01 12:57:19,2015-05-01 12:57:19
2,593880638069018624,Only upside of the moment I can think of is th...,"<a href=""http://twitter.com"" rel=""nofollow"">Tw...",678033.0,NaN,0.0,0.0,NaN,0.000000e+00,NaN,...,NaN,NaN,NaN,2.0,0.0,0.0,Thu Apr 30 20:52:32 +0000 2015,2015-04-30 22:52:32,2015-05-01 12:57:19,2015-05-01 12:57:19
3,593847955536252928,If you're going to think about+create experien...,"<a href=""http://tapbots.com/tweetbot"" rel=""nof...",678033.0,NaN,0.0,0.0,NaN,0.000000e+00,NaN,...,NaN,NaN,NaN,2.0,0.0,0.0,Thu Apr 30 18:42:40 +0000 2015,2015-04-30 20:42:40,2015-05-01 12:57:19,2015-05-01 12:57:19
4,593847687847350272,Watching a thread on FB about possible future ...,"<a href=""http://tapbots.com/tweetbot"" rel=""nof...",678033.0,NaN,0.0,0.0,NaN,0.000000e+00,NaN,...,NaN,NaN,NaN,0.0,0.0,0.0,Thu Apr 30 18:41:36 +0000 2015,2015-04-30 20:41:36,2015-05-01 12:57:19,2015-05-01 12:57:19

In [32]:
first = True
def getDataTweets(rows):
    global first
    if(first):
        display(pd.to_datetime(rows.timestamp.shift(1)) - pd.to_datetime(rows.timestamp))
    first = False

tweets_humans.groupby('user_id').apply(getDataTweets)

0           NaT
1      02:27:19
2      00:58:20
3      02:09:52
4      00:01:04
5      01:52:21
6      00:19:05
7      04:14:09
8      00:00:54
9      00:31:10
10     05:30:52
11     00:17:41
12     04:40:06
13     00:20:23
14     00:02:36
15     00:01:21
16     00:00:50
17     00:00:47
18     00:00:58
19     00:15:10
20     00:37:48
21     00:29:41
22     01:12:50
23     00:00:31
24     00:00:16
25     02:11:33
26     00:04:44
27     00:02:23
28     00:00:39
29     02:17:47
         ...
3165   00:23:02
3166   00:01:13
3167   00:20:04
3168   00:00:13
3169   00:09:44
3170   00:01:03
3171   00:01:20
3172   00:06:31
3173   00:07:31
3174   00:46:07
3175   00:13:41
3176   10:57:24
3177   00:03:10
3178   00:17:37
3179   00:59:54
3180   00:00:39
3181   00:01:37
3182   11:31:54
3183   00:47:38
3184   00:05:20
3185   00:00:29
3186   00:18:28
3187   00:03:34
3188   10:27:29
3189   03:06:06
3190   00:44:43
3191   01:25:14
3192   01:12:04
3193   00:24:33
3194   00:17:31
Name: timestamp, Length: 3195, dtype: timedelta64[ns]

Empty DataFrame
Columns: []
Index: []

### Dataset Tweets

In [31]:
# Agregar columna para categorizar
tweets_ss1['Cat'] = 'SocialSpambot'
tweets_ss2['Cat'] = 'SocialSpambot'
tweets_ss3['Cat'] = 'SocialSpambot'
tweets_ts['Cat'] = 'TraditionalSpambot'
tweets_ff['Cat'] = 'FollowersBot'
tweets_humans['Cat'] = 'Humans'
# Concatenar datasets de Usuarios (SocialSpambots & Traditional Spambots)
tweets = pd.concat([tweets_ss1,tweets_ss2,tweets_ss3,tweets_ts,tweets_ff,tweets_humans],ignore_index=True)

/opt/conda/lib/python3.6/site-packages/ipykernel_launcher.py:9: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  if __name__ == '__main__':

### Analizar correspondencia entre datasets

In [40]:
print('Usuarios unicos en dataset de Users: ',users.id.nunique())
print('Usuarios unicos en dataset de Tweets: ',tweets.user_id.nunique())

Usuarios unicos en dataset de Users:  12737
Usuarios unicos en dataset de Tweets:  10197

In [35]:
# Crear tabla de cuenta de tweets desde dataset de tweets
id_count_tweets = tweets[['user_id','id']].groupby('user_id',as_index=False).count()
id_count_tweets.rename(columns={'user_id':'id','id':'tweet_count'}, inplace=True)
# Joinear datasets para agregar a Users la cuenta tweets
users = users.merge(id_count_tweets,how='left',on='id')

In [44]:
print('Cantidad de usuarios sin tweets: ',users.tweet_count.isna().sum())

Cantidad de usuarios sin tweets:  2540

In [51]:
# Explorar usuarios sin tweets por categoria
users[['Cat','id']][users.tweet_count.isna()].groupby('Cat').count()

                id
Cat
FollowersBot   149
Humans        2391

In [59]:
print('Cantidad de usuarios Humanos únicos en el dataset original: ',users[users.Cat=="Humans"].id.nunique())
print('Proporcion de usuarios humanos que tienen tweets: ',tweets[tweets.Cat=="Humans"].user_id.nunique()/users[users.Cat=="Humans"].id.nunique())

Cantidad de usuarios Humanos únicos en el dataset original:  3474
Proporcion de usuarios humanos que tienen tweets:  0.31174438687392053